@import "tailwindcss";

:root {
  --background: #1d1d1d;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  background: var(--background);
}

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }

  .flex-between {
    @apply flex items-center justify-between;
  }
  .col-center {
    @apply flex flex-col items-center justify-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .btn {
    @apply px-5 py-2 rounded-3xl my-5 hover:bg-transparent border border-transparent hover:border;
  }

  .header {
    @apply fixed z-10 flex items-start justify-between w-full md:pt-10 pt-3 md:px-20 px-5;
  }
  .logo-fl {
    @apply mask-[url(/icons/footLocker.svg)] md:w-44 w-40 h-16 mask-no-repeat hover-animation;
  }
  .music-stream-line {
    @apply flex justify-center items-center size-7 hover-animation;
  }

  .home-title {
    @apply absolute z-10 top-11/12 place-self-center text-white/80 md:text-xs text-[10px] font-medium tracking-wider;
  }
  .left-arrow {
    @apply absolute z-10 top-10/12 left-1/12 bg-white mask-[url(/icons/left.svg)] size-12 mask-no-repeat border hover-animation;
  }
  .right-arrow {
    @apply absolute z-100 top-10/12 right-1/12 bg-white mask-[url(/icons/right.svg)] size-12 mask-no-repeat border hover-animation;
  }
  .scene {
    @apply min-h-screen;
  }

  .second-section {
    @apply absolute inset-0 -z-10 h-screen;
  }
  .third-section {
    @apply absolute left-0 top-[500vh] h-screen;
  }
  .scroll-indicator {
    @apply fixed flex flex-col items-center z-10 top-4/5 place-self-center gap-5 transition-opacity duration-500;
  }
  .line-scroll-indicator {
    @apply w-px h-16 place-self-center;
  }
  .circle-scroll-indicator {
    @apply absolute size-4 border rounded-full left-[12] top-0;
  }
  .text-scroll-indicator {
    @apply uppercase md:text-sm text-xs tracking-wider transform;
  }
  .loading-skeleton {
    @apply flex items-center justify-center bg-black w-screen h-screen;
  }
  .bars {
    @apply flex items-center justify-center gap-2;
  }
  .bar {
    @apply w-2 h-32 transition-discrete duration-700;
  }

  .text-loading {
    @apply mt-2 text-sm text-white/50 text-center;
  }
  .loading-bar {
    @apply h-2 bg-white/50 transition-all duration-200 rounded-full;
  }

  .footer {
    @apply fixed w-full bottom-2 font-bold flex items-center justify-center gap-8 md:px-20 px-5 md:text-xs text-[10px] md:tracking-widest text-nowrap;
  }
}

@utility hover-animation {
  @apply cursor-pointer opacity-75 hover:opacity-100 transition-opacity duration-100;
}
